body
	position: relative
	padding-top: 33px
	padding-bottom: 300px
	background: url(../img/background-body-img.png) no-repeat, url(../img/background-body.jpg)
	background-size: 100%, auto
	font-family: georgia
	font-weight: normal
	font-style: italic
	font-size: 12px
	line-height: 1.5
	color: $blue_text
	+r(1024)
		padding-top: 0

.wrapper
	width: 1000px
  margin: 0 auto
	margin-left: auto
	margin-right: auto
	+r(1024)
		width: 100%

.container
	width: 940px
	margin: 0 auto
	+r(1024)
		width: calc(100% - 40px)
