body
  position: relative
  padding-top: 33px
  padding-bottom: 300px
  background: url(../img/background-body-img.png) no-repeat, url(../img/background-body.jpg)
  background-size: 100%, auto
  font-family: georgia
  font-weight: normal
  font-style: italic
  font-size: 12px
  line-height: 1.5
  color: $blue_text
  +r(1024)
    padding-top: 0

a
  font-size: 11px
  line-height: 1.64

.logo-bottom
	position: relative
	margin-left: 0
	bottom: -250px

.navs
  +r(768)
    display: none
    &.active
      display: flex
      width: 200px
      flex-direction: column
      margin: 0 auto


.btn-nav
	margin-left: auto
	display: none
	+r(768)
    display: block
    width: 25px
    height: 25px
    background-image: url("../img/burger.svg")
    background-color: transparent
.btn-nav.active
  background-image: url("../img/close.svg")
