<header class="header">

  <div class="header__top">
    <div class="container">
      <div class="header__top-text">
        <span>Hotest</span>The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.
      </div>
    </div>
  </div>

  <div class="header__background">
    <div class="container">
      <div class="header__layout">
        <div class="header__logo">
          <a href="index.html" class="logo">
            <img src="img/logo.png" alt="logo" class="logo-img">
          </a>
        </div>
        <div class="navs">
          {% include "../partials/_second-nav.html" %}
          {% include "../partials/_main-nav.html" %}
        </div>
        <button class="btn-nav js-open-menu"></button>
      </div>
    </div>
  </div>

</header>