<div class="main-content">
  <div class="mainbox">
    <div class="mainbox__title block-title">
      <h3 class="block-title__left">
        Gruesome video shows Syria brutality
      </h3>
      <div class="block-title__right">
          As crackdowns against anti-government protesters continue across
      </div>
    </div>
    <div class="mainbox__img">
      <img src="img/big-img.jpg" alt="">
      <p class="mainbox__discr">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. Men lifted the bodies one by one and hurled from them from a bridge into a river below as cursing filled the air</p>
    </div>
    
    {% include "../partials/_cards.html" %}

  </div>

  {% include "../partials/_posts.html" %}

</div>