{% set
mainNav = [
  {
    title: "Main street",
    href: "#",
    class:""
  },
  {
    title: "Washington dc",
    href: "#",
    class:""
  },
  {
    title: "Wall street",
    href: "#",
    class:"active"
  },
  {
    title: "Statewide",
    href: "#",
    class:""
  },
  {
    title: "Politics",
    href: "#",
    class:""
  },
  {
    title: "Just a bill",
    href: "#",
    class:""
  },
  {
    title: "Video",
    href: "#",
    class:""
  }
]
%}

<nav class="main-nav">
  <ul class="main-nav__list">
    {% for item in mainNav %}
    <li class="main-nav__item">
      <a href="{{item.href}}" class="main-nav__link {{item.class}}">{{item.title}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>