.cards

  &__list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    +r(693)
      justify-content: space-around
    +r(400)
      flex-direction: column

  &__item
    display: flex
    flex-wrap: wrap
    width: 170px
    padding: 18px
    padding-bottom: 0
    background-color: $white
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14)
    +r(950)
      margin-bottom: 10px
    +r(400)
      width: 100%
      justify-content: center

  &__title
    margin-top: 15px
    margin-bottom: 8px
    font-style: normal
    text-decoration: underline

  &__revievs
    display: flex
    margin-left: auto
    font-size: 11px
    color: #757575
    &-icon
      margin-right: 5px
